.circle {
  display: block;
  width: 100px;
  height: 100px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.logo {
  position: absolute;
  bottom: 28px;
  left: 117px;
}


.z {
  background-image: url('http://www.zuehlke.com/static/images/base/base-1x-s016cec0915.png');
  background-size: 135px 275px;
  background-position: 0 -140px;
  height: 135px;
  width: 135px; }
